* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    color: white;
    background: linear-gradient(135deg, #4203a9, #90bafc);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo img {
    max-width: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.calculator {
    width: 100%;
    max-width: 600px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
}

.calculator h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.calculator h1 span {
    color: rgb(107, 223, 107);
}

.input-box {
    margin: 40px 0px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 192, 192);
}

.input-box input {
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
}

.input-box button {
    background-color: #a2d4b7;
    border: none;
    outline: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: #491f1f;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-box button:hover {
    background-color: #90cba8;
}

#result {
    font-size: 20px;
    margin-top: 20px;
    color: #fdfdfd;
}
